<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backlog</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="vue.js"></script>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
  </head>
  <body>
    <div class="title">
      任务计划列表
    </div>
    <div class="container">
      <div class="content">
        <div class="main">
          <div class="main-title">添加任务：</div>
          <input type="text" class="input-task"
            placeholder="例如：吃饭，提示：回车即可完成添加任务。"
            @keyup.enter="addTodo"
            v-model="todo"
          />
          <div class="panel">
            <div class="tips">{{unfinished}}个任务未完成</div>
            <div class="tab">
              <a href="#all" :class="{active: visibility === 'all'}">所有任务</a>
              <a href="#unfinished" :class="{active: visibility === 'unfinished'}">未完成的任务</a>
              <a href="#finished" :class="{active: visibility === 'finished'}">完成的任务</a>
            </div>
          </div>
          <div class="list-title">任务列表：</div>
          <div class="tasks">
            <span class="no-task-tip" v-show="!list.length">还没有添加任何任务</span>
            <ul class="list">
              <li v-for="item in filterList" :class="{editing: item === editTodos}">
                <div class="view">
                  <el-checkbox class="btn-check" :checked="item.isChecked" v-model="item.isChecked"></el-checkbox>
                  <!-- <input type="checkbox" class="btn-check" /> -->
                  <label class="item" @dblclick="editTodo(item)" :class="{completed: item.isChecked}">{{item.title}}</label>
                  <el-button icon="close"
                    class="btn-del"
                    @click="delTask(item)">
                  </el-button>
                  <!-- <input type="button" class="btn-del" /> -->
                </div>
                <input type="text" class="edit"
                  v-focus="item === editTodos"
                  @keyup.esc="canclEdit(item)"
                  v-model="item.title"
                  @keyup.enter="editDone(item)"
                  @blur="editDone(item)"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
